:root {
    --primary-color: #007bff;
    --dark-color: #333;
    --light-color: #f9f9f9;
    --white-color: #ffffff;
    --box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.6;
}

body {
    font-family: poppins, sans-serif;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-light {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.btn-light:hover {
    background: #f1f1f1;
}

.btn-dark {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-dark:hover {
    background-color: #0056b3;
}

.heading-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px  
}

header {
    background-color: var(--white-color);
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: var(--box-shadow);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--primary-color);
}


        /* hero section  */

.hero {
    text-align: center;
    padding: 150px 20px;
    background: var(--primary-color);
    color: var(--white-color);

}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;    
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}



/* about section */
.about {
    background-color: var(--white-color);
}

.about-content {
    max-width: 1200px;
    margin: auto;
    padding :80px 20px;
    
}

/* .about-content h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
} */

.about-details {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-image, .about-text{
    flex: 1;
}

.about-image {
    text-align: center;
}

.about-image img {
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: var(--box-shadow);
}

.about-text p {
    margin-bottom: 20px;
    color: #666;
    line-height: 1.8;
}

/*  Skills Section */

.skills {
    padding: 80px 20px;
    max-width: 1200px;
    margin: auto; 
}



.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}
.skill-card
{
    text-align: center;
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.skill-card h3 {
    font-size: 1.1rem;
}